{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'LOGO.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'homepage.js' %}"></script>
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
    <title>FasFood - Keren!</title>
</head>


<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand atur-logo" href="/">
            <img src="{% static 'LOGO.png' %}" width="30" height="auto" class="d-inline-block align-middle" alt=""> FasFood
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="counters/food">FOODS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="counters/drink">DRINKS</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/SignOut/">LOGOUT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/SignIn/">LOGIN</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- GAMBAR YANG PALING ATASNYA -->
    <div class="parallax">
    </div>
    <div class="outer-div">
        <div class="inner-div center-text center-element">
            <p>Hello, Welcome to <b>FASFOOD!</b></p>
        </div>
        <div class="inner-div center-element">
            <div class="text-container">
                <p><b>WE</b> will</p>
                <p><b>SHOW</b> you</p>
                <p><b>SOMETHING</b> that makes you</p>
                <p><b>TERRIBLY HUNGRY!!</b></p>
                <!-- <p><b>WE</b> will<br>
                    <b>SHOW</b> you<br>
                    <b>SOMETHING</b> that makes you<br>
                    <b>TERRIBLY HUNGRY!!</b></p> -->
            </div>
        </div>
        <div class="inner-div center-text center-element">
            <p class="story-platform">Please tell us about your story while you were eating in Fasilkom Cafeteria!
                <span>
                    <a href="feedback/">
                        <button class="button-here">HERE</button>
                    </a>
                </span>
            </p>
        </div>
    </div>

    <!-- FORMS UNTUK KOMENTAR TENTANG WEBSITE -->
    <div class="center-element">
        <form action="" method="POST" class="form-size">
            {% csrf_token %} {{ form }}
            <div class="submit-button" style="margin-top: 2%">
                <input type="submit" class="btn warna-button" value="Submit">
            </div>
        </form>
    </div>
</body>
<div class="se-pre-con"></div>

</html>