body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F7F7F7;
    height: auto;
}

.navbar {
    background-color: #F8B500;
}

.tulisan-bawah-gambar {
    padding: 0% 0% 4% 0%;
    text-align: center;
}

.div-form {
    align-items: center;
    display: flex;
    justify-content: center;
}

.judul-makanan {
    font-size: 24px;
}

.form-size {
    height: 50%;
    width: 60%;
}

#makanannya .container .row-makanan {
    margin-bottom: 5%;
}

.submit-button {
    float: right;
    background-color: #F8B500;
}

.warna-button {
    background-color: #F8B500;
}

.foto-makanan {
    width: 90%;
}

.panah {
    width: 6%;
}

.foto-masjep img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-masjep {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.container-foto {
    position: relative;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

.atur-logo {
    padding: 0 !important;
}

.center-element {
    display: flex;
    justify-content: center;
}

.form-size {
    width: 60%;
}

.submit-button {
    float: right;
    font-size: 13px;
    border-radius: 10px;
    background-color: #F8B500;
}

#center {
    margin: auto;
    width: 60%;
    border: 2px solid grey;
    color: black;
    padding: 10px;
    margin-bottom: 5%;
}