body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F7F7F7;
    height: auto;
}

.navbar {
    background-color: #F8B500;
}

.tulisan-bawah-gambar {
    padding: 0% 0% 4% 0%;
    text-align: center;
}

#minumannya .container .row-minuman {
    margin-bottom: 5%;
}

.foto-minuman {
    width: 90%;
}

.panah {
    width: 6%;
}

.foto-masyono img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-masyono {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.foto-eskelapa img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-eskelapa {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.foto-minumboss img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-minumboss {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.foto-minumankemasan img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-minumankemasan {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.foto-minumansachet img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-minumansachet {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.foto-yoshinoya img {
    width: 90%;
    height: 90%;
    opacity: 0.6;
}

.foto-yoshinoya {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
}

.container-foto {
    position: relative;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

.atur-logo {
    padding: 0 !important;
}

.center-element {
    display: flex;
    justify-content: center;
}

.form-size {
    width: 60%;
}

.submit-button {
    float: right;
    font-size: 13px;
    border-radius: 10px;
    background-color: #F8B500;
}

#center {
    margin: auto;
    width: 60%;
    border: 2px solid grey;
    color: black;
    padding: 10px;
    margin-bottom: 5%;
}

#contain {}