{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'LOGO.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'hasilsearch.css' %}">
    <title>FasFood - Keren!</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand atur-logo" href="/">
            <img src="{% static 'LOGO.png' %}" width="30" height="auto" class="d-inline-block align-middle" alt=""> FasFood
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/counters/food">FOODS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/counters/drink">DRINKS</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/SignOut/">LOGOUT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/SignIn/">LOGIN</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="cari">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="wrapper-search">
        {% if makanan|length != 0 %}
        <div>
            <h3>MAKANAN</h3>
        </div>
        {% for food in makanan %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col center-element">
                            <img class="foto-makanan" src="{% static 'crepes.jpg' %}"></img>
                        </div>
                        <div class="col">
                            <div>
                                <h4>{{ food.nama_makanan }}</h4>
                                <p>{{ food.deskripsi }}</p>
                                <p><i>Rp. {{food.harga }}</i></p>
                                <p>Counter : {{ food.terdapat_di_counter }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    {% if minuman|length != 0 %}
    <div>
        <h3>MINUMAN</h3>
    </div>
    {% for drink in minuman %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img class="foto-makanan" src="{% static 'crepes.jpg' %}"></img>
                    </div>
                    <div class="col">
                        <h4>{{ drink.nama_makanan }}</h4>
                        <p>{{ drink.deskripsi }}</p>
                        <p><i>Rp. {{ drink.harga }}</i></p>
                        <p>Counter : {{ drink.terdapat_di_counter }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}

</body>

</html>