{% load static from staticfiles %}
<html>

<head>
    <title>Fasfood - Keren!</title>
    <link rel="stylesheet" href="{% static 'percountermakanan.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'LOGO.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand atur-logo" href="/">
            <img src="{% static 'LOGO.png' %}" width="30" height="auto" class="d-inline-block align-middle" alt=""> FasFood
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/counters/food">FOODS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/counters/drink">DRINKS</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">MAP</a>
                </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/SignOut/">LOGOUT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/SignIn/">LOGIN</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="foto-masjep">
        <img src="{% static 'restaurant-front-view.jpg' %}"></img>
        <div class="center-text">Nasi Pecel Ayam</div>
    </div>

    <div class="tulisan-bawah-gambar">
        <P><b>SCROLL</b> FOR SEE SOME <b>PLEASURES!</b><img class="panah" src="{% static 'panah-bawah.png' %}"></img>
        </P>
    </div>

    <section id="makanannya">

        <div class="container">

            <div class="row row-makanan">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <img class="foto-makanan" src="{% static 'nasi-ayam.jpg' %}"></img>
                        </div>
                        <div class="col">
                            <h1 class="judul-makanan"><b>PECEL AYAM</b></h1>
                            <p>Olahan bawang bombay yang enak</p>
                            <p><i>Rp. 12.000,00</i></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <img class="foto-makanan" src="{% static 'nasi-lele.jpg' %}"></img>
                        </div>
                        <div class="col">
                            <h1 class="judul-makanan"><b>PECEL LELE</b></h1>
                            <p>Olahan ayam yang enak</p>
                            <p><i>Rp. 15.000,00</i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-element">
                <form action="" method="POST" class="form-size">
                    {% csrf_token %} {{ form }}
                    <div class="submit-button" style="margin-top: 2%">
                        <input type="submit" class="btn warna-button" value="Submit" name="inputan">

                    </div>
                    {% if user.is_authenticated %} {% else %}
                    <div style="padding: 3%;">
                        <p>Please <a href="/accounts/SignIn/">login</a> to see all the opinion</p>
                    </div>
                    {% endif %}
            </div>

            {% if user.is_authenticated %}
            <div id="center" class="center">
                <div id="contain" class="container">

                    <div class="col">
                        <h2>Tentang Counter ini:</h2>
                        {% if allComments %} {% for comment in allComments %}
                        <div class="overflow-wrap word-break messages">
                            <tr>
                                <td class="overflow-wrap word-break" style="font-size: 20px"><strong> {{ comment.created_at }} </strong></td>

                            </tr>
                            <tr>
                                <td class="overflow-wrap word-break">{{ comment.commentM }} <br><br></td>
                            </tr>
                        </div>
                        {% endfor %} {% else %}
                        <h5>Belum ada komentar..</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

    </section>


</body>



</html>